
body {                    
    margin:0;
    padding:0;
    background: white;
    width: 100%;
    height: 1400px;
}

/* Header block background___**** */

.Head {
    background: rgb(51, 51, 51);
    width: 100%;
    height: 8rem;
}
.Design {
    width: 40%;
    float: left;
    padding-top: 2.5rem;
    padding-left: 5rem;
    color: white;
    font-family: sans-serif;
    font-size: 3.5rem;
    letter-spacing: 0rem;
}

/* Header Menu */

.Menu {
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    word-spacing: 0.2rem;
    width: 40%;
    float: right;
    padding-top: 4.5rem;
    padding-right: 1rem;
}

/* Links styles */

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a.Blue { /* hoover -> blue!!! 

    как определить разные цвета для a.Blue link, visited и т.д.? */
    
    color: rgb(0, 174, 239);
    text-decoration: none;
}


/* Menu Items */

.Home {
    float: left;
    width: 10%;
    color: white;
}
.About {
    float: left;
    width: 23%;
}
.Services {
    float: left;
    width: 17.5%;
}
.Portfolio {
    float: left;
    width: 17%;
}
.Contact {
    float: left;
    width: 20%;
}

/* Clean & Professional */
.block1 {
    width: 100%;
    height: 12rem; 
}

.Clean {
    padding-left: 5rem;
    padding-top: 2rem;
    letter-spacing: -0.2rem;
    word-spacing: -0.1rem;
    color: rgb(51, 51, 51);
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}
.providing {
    padding-left: 5rem;
    padding-top: 0rem;
    letter-spacing: -0.3rem;
    word-spacing: -0.2rem;
    color: rgb(187, 187, 187);
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: lighter;
}


/* we provide */

.dotted1 {
    width: 86%;
    height: 1rem;
    float: left;
    margin-left: 4.8rem;
    border-top: 0.25rem dotted rgb(187, 187, 187);

}

.block2 {
    width: 100%;
    height: 11rem; 
}

.weprovide {
    padding-left: 5rem;
    padding-top: 0.8rem;
    padding-right: 6rem;
    float: left;
    letter-spacing: 0rem;
    word-spacing: 0rem;
    color: rgb(85, 85, 85);
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: normal;

}

/* web design, marketing, optimisation */

.block3 {
    width: 100%;
    height: 20rem;
    padding-top: 3.5rem;
}

.block3left {
    width: 23%;
    height: 21rem;
    margin-left: 5rem;
    background-color: rgb(0, 174, 239);
    float: left;
    box-shadow: 0.3rem 0.3rem 0.2rem lightgray;

}

.block3left > .webdesign {
    
    float: center;
    padding-top: 1.3rem;
    padding-left: 3.6rem;
    padding-bottom: 0.75rem;
    font-family: sans-serif;
    font-size: 2.2rem;
    font-weight: normal;
    color: white;

}

.dotted2 {
    width: 88%;
    height: 1rem;
    float: left;
    margin-left: 1rem;
    border-top: 0.2rem dotted white;

}

.block3left > .weprovide {
    float: center;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    color: white;
    line-height: 1.4rem;
}
.Button {
    height: 2.2rem;
    width: 85%;
    margin-left: 1.4rem;
    margin-top: 1.5rem;
    border: none;
    background-color: rgb(0, 118, 163);
    color: white;
    font-size: 0.9rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 84, 114) inset, 0.1rem 0.1rem 0.1rem rgb(1, 84, 114);
}